table{
    border-collapse: collapse;
}
textarea{
    resize: none;
    height: 100px;
}
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
} 
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
.f-w400{
    font-family: 'IBM-Plex-Sans'; 
    font-weight: 400;
}
.f-w500{
    font-family: 'IBM-Plex-Sans'; 
    font-weight: 500;
}
.f-w100{
    font-family: 'IBM-Plex-Sans'; 
    font-weight: 100;
}
.f-w600{
    font-family: 'IBM-Plex-Sans'; 
    font-weight: 600;
}
.f-w700{
    font-family: 'IBM-Plex-Sans'; 
    font-weight: 700;
}
.f-S10{
    font-size: 10px;
}
.f-S11{
    font-size: 11px;
}
.f-S12{
    font-size: 12px;
}
.f-S14{
    font-size: 14px;
}
.f-S15{
    font-size: 15px;
}
.f-S18{
    font-size: 18px;
}
.f-S20{
    font-size: 20px;
}
.f-S25{
    font-size: 25px;
}
.f-S29{
    font-size: 29px;
}
.f-S33{
    font-size: 33px;
}
.f-S41{
    font-size: 41px;
}
.f-S48{
    font-size: 48px;
}
.f-S60{
    font-size: 60px;
}
.f-S68{
    font-size: 68px;
}
.greenColor{
    color:#A3CC40
}
.whiteColor{
    color: #FFFFFF;
}
.greenBack{
    background-color: #A3CC40;
}
.grey1Back{
    background-color: #373737;
}
.grey2Back{
    background-color: #4C4D4F;
}
.block1{
    min-height: 100vh;
    background-color: #FFFFFF;
    background-image: url(/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block1_row{
    width: 100vw;
}
.conteiner-wide{
    padding: 0 15px;
    max-width: 940px;
}
.block1_col1{
    float: left;
    /* padding: 0 22px 0 15px; */
    width: 21%;
    margin: 0;
}
.block1_col2{
    float: left;
    width: 79%;
    /* padding: 0 15px 0 22px; */
    margin: 0;

}
.block1_tel,
.block1_mail,
.block1_address,
.block1_lang{
    display: inline-block;
    color:#FFFFFF;
}
.block1_call{
    display: inline-block;
}
.block1_tel,
.block1_mail,
.block1_address,
.block1_call{
    margin-right: 20px;
}
.block1_col2-1,
.block1_col2-2,
.block1_col2-3,
.block1_col2-4,
.block1_col2-5{
    display: inline-block;
    color:#FFFFFF;
    margin-right: 60px;
}
.col{
    float: none;
    box-sizing: border-box;
    width: 33,33%;
    padding: 0 27,5px;
    margin: 0 auto;
}
.row{
    padding-left: -27.5px;
    padding-right:  -27.5px;;
}
.table__row1{
    padding-left: 76px;
}
.table__row1-cell1{
    padding-right: 94px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 10px 0 0 0;
}
.table__cell2345{
    padding-bottom: 12px;
    padding-top: 15px;
}
.table__row1-cell2345{
    padding-right: 184px;
}
.table__row2-cell1{
    padding-right: 63px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.table__row2-cell2{
    padding-right: 140px;
}
.table__row3-cell1{
    padding-right: 215px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 0 10px 0 0;
}
.table__row3-cell2{
    padding-right: 55px;
}
.table__row3-cell5{
    border-radius: 0 0 10px 0;
}
.table__row1-cell5{
    border-radius: 0 0 0 10px;
}
.container1{
    padding-left: 138px;
}
.text-table{
    margin-top: 30px;
    margin-right: 315px;
    margin-left: 120px;
}
.text-center{
    text-align: center;
}
